<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<h1>Reset password: <%=data.host%>/#/account/reset-password?email=<%=data.email%>&code=<%=data.forgotPasswordToken%></h1>


</body>
</html>